<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <header>      
      <div class="container-fluid row bg-primary">
        <div class="container">
          <nav class="navbar navbar-dark">  
            <a href="#" style="color:white; font-size:30px; font-weight:bold;">SHOPGAME</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">   
              <i class="fa-solid fa-magnifying-glass" style="color:white; font-size:20px;"></i>             
            </form>
            <div class="container-inline">    
              <a href="#" style="color:white;">                
                <% if current_user %>
                  <%= current_user.email %>
                  <%= link_to "Đăng xuất", destroy_user_session_path, 'data-turbo-method': :delete, 'style': 'color: white' %>
                <% else %>  
                  <%= link_to "Đăng nhập", new_user_session_path, 'style': 'color: white' %>       
                <% end %>                
              </a>            
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>      
      <div class="container">        
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>        
        <%= yield %>   
      </div>
    </main>
  </body>
</html>
